/* 
* @Author: anchen
* @Date:   2019-12-21 13:13:29
* @Last Modified by:   anchen
* @Last Modified time: 2019-12-26 18:59:42
*/
/*中间分类模块开始*/
.grid{
    height: 480px; /*中间部分高度*/
}
/*左边部分*/
.grid-col1 {
  width: 190px;
  height: 100%;
  background-color: #6e6568;
  color: #fff;
  font-size: 14px;/*不是给字的，是给/的*/
  position:relative;
}
.ad{      
    width:250px;
    height:480px;
    background-color: pink;
    position: absolute;
    top:0;
    left:-250px;
}
.ad-r{
    position:absolute;
    top:0;
    left:250px;
    z-index: 999; /*令大图片压住小图片*/
    width:0;
    height: 480px;
    transition: all 0.8s;/*这个图片做动画，给ad添加过渡*/
}
.ad:hover .ad-r{
   width:990px;   </*鼠标经过广告ad大盒子时，里面ad-r的图片的宽度由0变为990*/>
}
.grid-col1 a{
    color: #fff;
  font-size: 14px;/*是给链接文字的*/
  margin: 0 3px;
}
.grid-col1 a:hover{
    color: #f10;
}
.grid-col1 ul{
    padding: 20px 0;
}
.grid-col1 ul li{
   padding-left: 12px;
   height: 29px;
   line-height: 29px;
}
.grid-col1 ul li:hover{
    background-color: #9c9698;
}
/*中间部分*/
.grid-col2 {
    width: 790px;
    height: 100%;
    margin-left: 10px;
}
/*banner部分*/
.grid-col2-b div{
    float: left;
    margin-top: 10px;
}
.grid-col2-b div:last-child{
    float: right;
    margin-top: 10px;
}
/*箭头部分*/
.grid-col2-t{
    position:relative;
}
.arrow-l,
.arrow-r {
    position:absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: rgba(0,0,0,0.3);
    transform：translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size:20px;
    color: rgba(255,255,255, .6);
    font-family: arial;
    font-weight: normal;

}
.arrow-r{
    right: 0;
}
.circle{
    width: 165px;
    height: 20px;
    background:rgba(255,255,255, .3);
     position:absolute;
     left: 40%;
     bottom: 20px;
     transform：translateX(-50%);
     border-radius: 10px;
     padding-left: 10px;
}
.circle li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50px;
    float:left;
    margin: 4px ;
    cursor:pointer; /*鼠标经过li的时候变成小手*/
}
.circle .current{
    background-color: #f10215;
}
/*右边部分*/
.grid-col3 {
    width: 190px;
    height: 100%;
  
}

/*登录部分*/
.login{
    height: 85px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding:15px;
}
.login-t{
    width: 95px;
    height: 60px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap ;  /*强制一行内显示*/ 
    overflow: hidden; /*溢出隐藏*/
    text-overflow: ellipsis; /*超出的部分显示省略号*/
    color: #666;
    padding-left: 60px; /*这里给padding  把文字挤过来*/
    position:relative;
}
.login-t a {
    color: #666;
}
.login-t a:hover{
   color: #f10215;
}
.user-info{
    width: 50px;
    height: 50px;
    position:absolute;
    left:0;
    top:0;
    border-radius: 50%;
    overflow:hidden;
}
.login-b a{
    display:inline-block;
    width: 70px;
    height: 20px;
    border: 2px solid #f10215;
    margin-right: 3px;
    text-align: center;
    color: #f10215;
}
.login-b a:hover{
   background-color:#f10215;
   color: #fff;
}
.user-info img{
    width: 100%;
}
/*促销部分上部分*/
.news{
    height: 155px;
    border-bottom:1px solid #ccc ;
    background-color: #fff;
    padding: 7px 13px 0;
    box-sizing: border-box;
}

.news-t {
    height: 19px;
    border-bottom: 1px solid #ccc;
    position:relative;
}
.news-t a{
    float: left;
    height: 17px;
    line-height: 17px;
}
.cuxiao {
    width: 38px;

    border-right: 1px solid #ccc;
}
.gg{
    margin-left: 15px;

}
.news-t .more{
    float:right;
}
.news-t div{
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position:absolute;
    bottom: -1px;
    left: 0;

}
/*促销下部分*/
.news-b {
    padding-top: 20px;
}
.news-b li{
    height: 23px;
    line-height: 23;
}
.news-b a{
     float: left;
    height: 17px;
    line-height: 17px;
}
/*扩展部分*/
.expand{
    height: 209px;
   background-color: #fff;
   overflow:hidden;
}
.expand ul{
    width:195px;
}
.expand li{
    width:47px;
    height:69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float:left;
}