@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-12-21 21:54:30
 * @version $Id$
 */
@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-12-21 13:02:37
 * @version $Id$
 */

.w{
    width:1200px;
    margin:auto;

}
.header{
    height:155px;
    border-bottom:2px solid #b1191a;
}
.logo{
    padding-top: 15px;
}
.registerarea{
    height:520px;
    border:1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height:40px;
    border-bottom:1px solid #ccc;
    background-color: #ececec;
    padding: 0 10px;
    font-weight: 400;
    line-height: 40px;
    font-size: 18px;
}
.registerarea h3 em{
    font-size: 14px;
    float:right;
}
.registerarea a{
    color:#c81623;
}
.reg_form{
    width:600px;
    height:400px;
    margin:40px auto 0;
}
.reg_form li{
margin-bottom: 35px;
list-style: none;

}
.reg_form label{
    display:inline-block;
    width:65px;
    height:36px;
    line-height: 36px;
    text-align: right;
}
.inp{
    width:230px;
    height:34px;
    border:1px solid #ccc;
    margin-left: 10px;
}
.error{
    color:#df3033;
    margin-left: 10px;
}
.error_icon{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/error.jpg) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}
.safe{
    padding-left: 110px;
    color:#b2b2b2;
}
.safe em {
    padding:0 12px;
    color:#fff;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: #f79100;
}
.agree{
    padding-top: 15px;
    padding-left: 75px;
}
.agree input{
    vertical-align: middle;
    margin-right: 5px;
}
.agree a{
    color:#1ba1e6;
}
.over{
    width:200px;
    height:34px;
    background-color: #c81623;
    margin:20px 0 0 90px ;
    border:none;
    color:#fff;
    font-size: 14px;
}
.footer{
    height:120px;
    text-align: center;
}
.links{
    margin-top: 20px;
    height:30px;
}
.copyright{
    line-height: 20px;
}